.home-wrapper {
  padding-top: 20px;
}
.list-group-item-caption
{
  color: #4078c0;
}
.list-group-item-caption a{
  font-weight: 600;
  text-decoration: none;
  cursor: auto;
}
.list-group-item-text
{
  margin: 16px 0 32px;
  font-size: 12px;
  color: #767676;
}
#notebook-panel, #tools-panel, #project-panel, #gem-panel {
  border: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: 0px;
}
#notebook-panel .panel-heading, #tools-panel .panel-heading, #project-panel .panel-heading, #gem-panel .panel-heading {
  background-color: white;
  border: 0px;
  font-size: 16px;
  padding-left: 0px;
  padding-right: 0px;
}
#notebook-panel .panel-body, #tools-panel .panel-body, #project-panel .panel-body, #gem-panel .panel-body {
  padding: 0px;
}
