---
layout: default
---

<main class="page-content" aria-label="Content">
<div class="wrapper">
  <article class="post">

    <header class="post-header">
      <div class="row">
        <div class="col-md-10">
          <h1 class="post-title">{{ page.title | escape }}</h1>
          <p class="post-meta">
          {% if page.date %}
          <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
          {% endif %}
          {% if site.author %}
          {% endif %}
          </p>
          <hr/>
        </div>
        <div class="col-md-2">
          {% if page.github %}
          <a href="{{ page.github }}">
            <div class="git-code">
              <img src="{{ "/assets/images/gitlogo.jpg" | relative_url }}" />
              GitHub源码
            </div>
          </a>
          {% endif %}
        </div>
      </div>
    </header>

    <div class="post-content">
      {{ content }}
    </div>

  </article>
</div>
</main>
